name: Update Apktool Jar

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 6'

jobs:
  update-jar:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Add release.json to .gitignore
        run: |
          echo "release.json" >> .gitignore
          git add .gitignore
          git commit -m "Add release.json to .gitignore"
          git push

      - name: Get Latest Apktool Release
        id: apktool-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          API_RESPONSE=$(curl -s -H "Authorization: token $GITHUB_TOKEN" \
            https://api.github.com/repos/iBotPeaches/Apktool/releases/latest)
          echo "$API_RESPONSE" > release.json
          VERSION=$(jq -r '.tag_name' release.json)
          JAR_URL=$(jq -r '.assets[] | select(.name | endswith(".jar")) | .browser_download_url' release.json)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "JAR_URL=${JAR_URL}" >> $GITHUB_ENV

      - name: Download Apktool Jar as tmp2
        run: |
          curl -L -o tmp2 "$JAR_URL"

      - name: Commit Changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add tmp2
          git commit -m "Apktool is updated to $VERSION"
          git push
